.wapper{
    background-image: url('../../../public/images/supermarket.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;
    position: relative;
}

.theme{
    position: absolute;
    inset: 0;
    background-color: rgba($color: #211239, $alpha: .4);
}

.form-login{
    width: fit-content;
    height: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
    background-color: #241043;
    padding: 3rem;
    border-radius: 2rem;
}