.wapper{
    height: 8rem;
}

.my-input{
    padding: .4rem .8rem;
    color: var(--text-normal);
    border-color: transparent;
    outline: none;
    background-color: var(--hover-max-color);
    border-radius: 1rem;
    height: 3.4rem;
    width: 100%;

    &:focus{
        background-color: var(--hover-min-color);
    }
}

.message{
    color: var(--danger-color);
    margin-top: 1rem;
}

.area{
    height: 10rem !important;
}

.medium{
    width: 50rem;
}

.large{
    width: 100%;
}

.small{
    width: 35rem;
}