.wapper{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--pink-color);
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    color: #fff;
    padding: .6rem 2rem;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover{
        opacity: .6;
    }
}

.icon{
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.my-button{
    color: inherit;
    font-weight: inherit;
}

.large{
    padding: 1rem 4rem;
}

.textButton{
    width: 100%;
    border-radius: 0;
    padding: 1rem 1.4rem;
    background-color: var(--pink-lack-color);
    color: var(--text-normal);

    .icon{
        margin-right: .4rem;
    }

    &:last-child{
        border-bottom: .1rem solid var(--pink-color);
    }
}

.danger{
    background-color: var(--danger-color);
    color: var(--background-light);
}

.disable{
    opacity: .8;

    &:hover{
        opacity: .8 !important;
    }
}

.left{
    margin-left: 2rem;
}

.right{
    margin-right: 2rem;
}