.wapper {
    color: var(--text-normal);
    padding: 1rem 2rem;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.item {
    text-decoration: none;
    color: var(--text-normal);

    &:hover {
        color: var(--text-medium);
    }
}