.wapper{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    padding: .3rem 0;
    text-decoration: none;

    &:hover{
        background-color: var(--hover-max-color);
    }
}

.topic{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: .3rem 0;
    text-decoration: none;
}

.photo{
    width: 10%;
}

.image{
    width: 4rem;
    height: 4rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.text{
    color: var(--text-normal);
}

.name{
    width: 15%;
}

.price{
    width: 15%;
}

.origin{
    width: 20%;
}

.unit{
    width: 15%;
}

.quantity{
    width: 15%;
}

.discount{
    width: 10%;
}