.wapper{
    width: 50rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    padding: 2rem;
    border-radius: 1.4rem;
    background-color: var(--text-normal);
    transition: opacity .3s;
}

.icon{
    font-size: 10rem;
    text-align: center;

    &:first-child{
        line-height: 1.2;
    }
}

.type{
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    opacity: .8;
}

.text{
    text-align: center;
    opacity: .8;
    font-size: 2rem;
    margin-top: 1rem;
}

.button{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: .1rem solid #ccc;
    // background-color: var(--pink-color);
}