.wapper{
    width: 100%;
    padding: 0 4rem;
    // height: 100vh;
}

.header{
    height: 10vh;
}

.content{
    // height: 90vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}