.wapper {
  transition: opacity 0.3s ease-in-out;
}

.loader {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 99;
  border: 0.4rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.4rem solid blue;
  border-right: 0.4rem solid green;
  border-bottom: 0.4rem solid red;
  border-left: 0.4rem solid pink;
  width: 30px;
  height: 30px;
  -webkit-animation: spin .3s linear infinite;
  animation: spin .3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
