.wrapper{
    height: 4rem;
    margin-left: 4rem;
    width: 100%;
}

.btn{
    position: absolute;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn-search{
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color: white;
}

.input-search{
    background-color: rgba(232, 232, 232, 0.1);
    height: 4rem;
    width: 100%;
    border-radius: 3rem;
    padding-left: 4rem;
    color: #fff;
    font-size: 1.6rem;
}

.btn-close{
    right: -4rem;
    top: 0;
    display: none;
    color: white;
}

.show{
    display: block;
}

.tipy{
    width: 100%;
    position: relative
}

.box{
    width: 46.5rem;
    margin-top: -.6rem;
}

.search-result{
    border-radius: 1rem;
    height: 39rem;
    background-color: white;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    overflow: scroll;
    background-color: var(--background-005);
    color: var(--text-normal);
}

.search-result::-webkit-scrollbar {
    width: 0rem;
}

.more{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-top: .1rem solid #ccc;
    background-color: var(--background-005);
    color: white;
}

.link{
    text-decoration: none;
    color: white;
}

.result-item{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-radius: .4rem;
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover{
        background-color: var(--hover-max-color);
    }
}

.picture{
    width: 8rem;
    height: 8rem;
    border-radius: .4rem;
    overflow: hidden;
    padding: .4rem;
}

.image{
    width: 100%;
    height: 100%;
}

.name{
    margin-left: 2rem;
}

.price{
    margin-left: 2rem;
    font-size: 1.4rem;
    color: var(--hover-min-color);
}

.loader {
    border: .3rem solid #ccc;
    border-radius: 50%;
    border-top: .3rem solid #8142bb;
    width: 1.4rem;
    height: 1.4rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;

    position: absolute;
    right: -2.7rem;
    top: 1.2rem;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }