.wapper{
    margin-left: 50%;
    transform: translateX(-50%);
    height: 90vh;
    width: fit-content;
}

.topic{
    color: var(--text-normal);
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.button{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.input{
    color: var(--text-normal);
}